#view-frame {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 95%;
    height: 90vh;
}

#confession-topic {
    text-align: left;
    padding-left: 15px;
    user-select: none;
    width: 95%;
    overflow: auto;
}

.comment-frames {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-gap: 2.5px;
    min-height: 50px;
    height: auto;
}

.profile-and-name {
    display: grid;
    grid-template-columns: 50px auto;
    grid-gap: 5px;
    width: auto;
}

.anonymous-user-label {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: small;
}

.commenct-frame {
    padding: 10px;
}

#manipulate-comment {
    display: grid;
    grid-template-columns: repeat(7, 20px);
    font-size: small;
    padding: 10px;
    grid-gap: 5px;
}

#chat-fourm-frame {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    height: 325px;
    overflow: auto;
}

.recur-comment-frame {
    margin-left: 20px;
    border-left: 2px solid #e0e0e0;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.load-comments-anchors {
    text-decoration: underline;
    color: lightblue;
}

.comment-placeholder-wrapper {
    width: 240px;
    margin-left: 15px;
    display: grid;
    grid-template-columns: 200px 30px;
    grid-gap: 5px;
}