name: .NET 9 Build and Deploy

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  DOTNET_VERSION: '9.0.100' 

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Setup .NET SDK
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}

    - name: Display .NET Info
      run: dotnet --info

    - name: Restore Dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --no-restore --configuration Release

    - name: Test
      run: dotnet test --no-build --verbosity normal

    - name: Install EF Core CLI
      run: dotnet tool install --global dotnet-ef

    - name: Apply Database Migrations
      run: dotnet ef database update --project CollegeApp.Server/CollegeApp.Server.csproj
      env:
        # locating the database connection secret
        ConnectionStrings__DefaultConnection: ${{ secrets.DB_CONNECTION_STRING }}

    - name: Publish
      run: dotnet publish -c Release -o ./publish

    - name: Upload Build Artifact
      uses: actions/upload-artifact@v4
      with:
        name: dotnet-9-app
        path: ./publish